//make navbar fixed

body{
    overflow-x: hidden;
}

.errorMsg{
    display: none;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
}

.errorBorder{
    border-color: red!important;
}

.normalBorder{
    border-color: black!important;
}

.carosel-title h3{
    text-align: center;
   padding: 10px;
}

#main-bg{
    background-image: url("../assets/vote-key.jpg");

    /* Full height */
    height: 580px;

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider-sec{
    
    padding:20px;
}


#rules-sec{
    div{
        padding: 30px;
    }
}

.table_div{
    margin: auto;
    display: block;
    background-color: rgba($color: #fff, $alpha: 0.7)
    
}

footer{
    background-color: darkslategrey;
    color: aliceblue;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

